

.faq{
    max-width: 500px;
    margin: 100px auto;
    border: 1px solid black;
    padding: 10px;
}
.faq-item{
    border: 1px solid black;
    padding: 10px;
}
.faq-item-title{
    background-color: black;
    color: white;
    padding: 10px;
}

.faq-item-body{
    background-color: #d2d2d2;
    padding: 10px;
    display: none;
}

.faq-item.open .faq-item-body{
    display: block;
}